# API configuration
PORT=3000
DATABASE_DRIVER=in-memory | type-orm
CACHE_DRIVER=in-memory | noop | redis

# Postgres configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bizaway
POSTGRES_PASSWORD=bizaway123
POSTGRES_DB=bizaway
TYPE_ORM_AUTO_LOAD_ENTITIES=true
TYPE_ORM_SYNCHRONIZE=true

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=bizaway123
REDIS_USERNAME=bizaway

# Discord configuration
DISCORD_WEBHOOK_URL=discord-webhook-url